# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/4.0/fileChanges/last-build.bin
.gradle/4.0/fileContent/fileContent.lock
.gradle/4.0/fileHashes/fileHashes.bin
.gradle/4.0/fileHashes/fileHashes.lock
.gradle/4.0/taskHistory/fileSnapshots.bin
.gradle/4.0/taskHistory/taskHistory.bin
.gradle/4.0/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
